.header {
  background-color: #282c34;
  color: #fff;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 2px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header nav a:hover {
  color: #61dafb;
  text-decoration: underline;
}
